.actions:hover .sp-foreign-tooltip {
    display: inline-block;
}

.actions:hover {
    cursor: zoom-in;
}

.sp-foreign-tooltip {
    display: none;
    position: absolute;
    width: calc(-5em - 10px + 42.5vw);
    top: 100%;
    right: 5em;
    z-index: 666;
    padding: 20px 13px 20px 7px;
    background: #000;
    color: #fff;
    text-align: left;
    font-size: 17px;
    line-height: 1.66;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.sp-pte-is-on-board .sp-foreign-tooltip {
    width: calc(-5em - 22px + 42.5vw);
}

.sp-foreign-tooltip::before {
    content: "";
    position: absolute;
    left: calc(50% - 6px);
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
}

.sp-editor-highlighter {
    margin: 1em 0;
    padding: 10px 3px;
    font-size: 15px;
    background-color: #d9e1e8;
}

[style*="background-color:yellow"] {
    display: inline-block !important;
    line-height: 16px !important;
    background-color: white !important;
    border: 2px solid white !important;
}

#sp-main-header {
    padding: 5px 0 0;
}

#sp-the-popup {
    display: block;
    position: fixed;
    left: 50vw;
    margin-left: -30vw;
    z-index: 999999;
    overflow-y: scroll;
    width: 60vw;
    height: 35vw;
    padding: .8em;
    background: white;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .2);
}

#sp-the-popup.sp-the-popup--hidden {
    display: none;
}

#sp-main-header.sp-sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    z-index: 999999;
}

#sp-main-header.sp-sticky.sticky--off {
    position: static !important;
}

#sp-consist-container {
    float: right;
}

#sp-main-header.sp-sticky #sp-consist-container {
    margin-right: 7.5%;
}

#sp-consist__text {
    height: 21px;
    margin: 0 1em;
    padding: 0 3px;
    border: 1px solid #dfdfdf;
}

.filter-toolbar {
    position: relative;
}

.sp-results__buttons {
    position: absolute;
    font-size: .85rem;
    opacity: .8;
}

.sp-results__buttons:hover,
.sp-results__buttons:focus,
.sp-results__buttons:active {
    opacity: 1;
}

#sp-results__link-glossary {
    top: 4px;
    right: 100px;
}

#sp-results__link-typo {
    top: 4px;
    right: 70px;
    -webkit-filter: hue-rotate(303deg);
    filter: hue-rotate(303deg);
}

#sp-results__link-consist {
    top: 4px;
    right: 40px;
}

#sp-results__toggle-header {
    top: 3px;
    right: 9px;
}

#sp-results__toggle-header.sp-toggle-header--off {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
}

#sp-main-header.sp-sticky .filter-toolbar {
    margin-bottom: .8em;
}

.gp-js-message {
    z-index: 9999999 !important;
}

#sp-main-header.sp-sticky [id^="gd-"].notice {
    display: inline-block;
    padding: .3em .5em;
    margin: 0 1em .4em 0;
    box-sizing: border-box;
}

#sp-main-header.sp-sticky>* {
    max-width: 85%;
    margin: 0 auto;
}

#sp-to-top {
    position: fixed;
    bottom: 2em;
    left: 1em;
    display: none;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    height: 2em;
    color: #0073aa;
    transition: transform 80ms ease-in;
    cursor: pointer;
    padding: .1em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    border: 1px rgba(206, 206, 206, .4) solid;
    border-radius: 50%;
}

#sp-main-header.sp-sticky #sp-to-top {
    display: inline-block;
}

#sp-results {
    font-weight: bold;
}

.sp-results__data {
    padding: .1em 1em .8em;
    margin-top: .3em;
    background: #f3f2fb;
}

.sp-results__title {
    margin: 10px 0px 5px;
    color: red;
    text-transform: uppercase;
}

.sp-results__captions {
    position: relative;
    padding: .1em 9em .9em .9em;
    background: #f4f3f7;
    margin-top: -12px;
}

#sp-results__toggle-caption {
    position: absolute;
    right: .5rem;
    top: -25px;
    padding: 0;
    font-size: .85rem;
    color: #756f79 !important;
    line-height: 1.6;
}

#sp-results__toggle-caption::before {
    content: "🛈 ";
    font-size: 17px;
    vertical-align: -1px;
    color: darkslateblue;
}

.sp-results__captions--closed #sp-results__toggle-caption::before {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
}

.sp-results__captions--closed {
    height: 0;
    background: transparent;
}

.sp-results__captions--closed p {
    display: none;
    z-index: -1;
}

.sp-results__captions--closed .sp-results__caption {
    visibility: hidden;
}

.sp-results__caption {
    font-weight: normal;
    margin: 1em 0 0 0;
    line-height: 1.5;
    font-style: italic;
}

.sp-results__caption--link {
    display: inline;
    margin: 0 1em .3em 0;
}

.sp-warning-title {
    display: inline-block !important;
    line-height: 23px !important;
    margin: 0 25px 0 5px !important;
    padding: 2px !important;
    box-sizing: border-box !important;
    text-align: center !important;
    min-width: 22px !important;
    min-height: 23px !important;
}

.sp-char-details {
    font-size: 13px;
    font-weight: normal;
    margin: .2em 0;
}

#sp-controls {
    overflow: hidden;
}

.sp-controls__filters {
    display: inline-block;
    margin: 0 auto;
    width: calc(100% - 555px);
}

.sp-controls__pte+.sp-controls__filters {
    text-align: center;
}

#sp-show-all-translations,
#sp-show-only-warnings {
    margin: 1em 0 0 .6em;
    vertical-align: -1px;
}

#sp-show-all-translations+label,
#sp-show-only-warnings+label {
    margin: 0 .8em 0 .5em;
}

#sp-select-errors {
    margin: 1em .58em;
}

#sp-select-errors+label {
    margin: 0 1.5em 0 0;
    font-weight: bold;
    vertical-align: 1px;
}

.sp-frenchies:after {
    content: "";
    position: absolute;
    margin: 3px 0 0 10px;
    width: 23px;
    height: 15px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 3px;
    background: linear-gradient(90deg, #002395 33.33333%, #fff 33.33333%, #fff 66.66667%, #ed2939 66.66667%);
}

.bulk-actions {
    float: none !important;
}

.sp-controls__pte {
    float: left;
}

.sp-info {
    cursor: help;
}

@media screen and (max-height: 900px) {
    #sp-main-header.sp-sticky [id^="gd-"].notice {
        margin: 0 auto .2em auto;
        padding: 0 .5em;
    }

    .sp-results__data {
        padding: .1em 1em .5em;
    }
}
