.actions:hover .sp-foreign-tooltip {
    display: inline-block;
}

.actions:hover {
    cursor: zoom-in;
}

.sp-foreign-tooltip {
    display: none;
    position: absolute;
    width: calc(-5em - 10px + 42.5vw);
    top: 100%;
    right: 5em;
    z-index: 666;
    padding: 20px 13px 20px 7px;
    background: #000;
    color: #fff;
    text-align: left;
    font-size: 17px;
    line-height: 1.66;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.sp-pte-is-on-board .sp-foreign-tooltip {
    width: calc(-5em - 22px + 42.5vw);
}

.sp-foreign-tooltip::before {
    content: "";
    position: absolute;
    left: calc(50% - 6px);
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
}

.sp-editor-highlighter {
    margin: 1em 0;
    padding: 10px 3px;
    font-size: 15px;
    background-color: #d9e1e8;
}

[style*="background-color:yellow"] {
    display: inline-block !important;
    line-height: 16px !important;
    background-color: white !important;
    border: 2px solid white !important;
}

#sp-results {
    font-weight: bold;
}

.sp-results__title {
    margin: 10px 0px 5px;
    color: red;
    text-transform: uppercase;
}

.sp-results__captions {
    position: relative;
    padding: .3rem .9rem .8rem;
    margin: 1rem 0 0;
    background: #f1eff5;
}

.sp-results__toggle-caption {
    position: absolute;
    right: .5rem;
    top: 0;
    padding: 0;
    font-size: .85rem;
    color: #756f79 !important;
    line-height: 1.6;
}

.sp-results__toggle-caption::before {
    content: "🛈 ";
    font-size: 15px;
    vertical-align: -1px;
}

.sp-results__captions--closed {
    height: 5px;
    overflow: hidden;
    background: transparent;
    margin: 0;
}

.sp-results__captions--closed .sp-results__caption {
    visibility: hidden;
}

.sp-results__caption {
    font-weight: normal;
    margin: 1em 0 0 0;
    line-height: 1;
}

.sp-results__caption--link {
    display: inline;
    margin: 0 1em .3em 0;
}

.sp-warning-title {
    display: inline-block !important;
    line-height: 23px !important;
    margin: 0 25px 0 5px !important;
    padding: 2px !important;
    box-sizing: border-box !important;
    text-align: center !important;
    min-width: 22px !important;
    min-height: 23px !important;
}

.sp-char-details {
    font-size: 13px;
    font-weight: normal;
    margin: .2em 0;
}

#sp-show-all-translations,
#sp-show-only-warnings {
    margin: 1em 0 0 .6em;
}

#sp-show-all-translations+label,
#sp-show-only-warnings+label {
    margin: 0 1.5em 0 .5em;
}

#sp-select-errors {
    margin: 1em .58em;
}

#sp-select-errors+label {
    margin: 0 1.5em 0 0;
    font-weight: bold;
}

.sp-frenchies:after {
    content: "";
    position: absolute;
    margin: 3px 0 0 10px;
    width: 23px;
    height: 15px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 3px;
    background: linear-gradient(90deg, #002395 33.33333%, #fff 33.33333%, #fff 66.66667%, #ed2939 66.66667%);
}

.sp-info {
    cursor: help;
}
