html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background: rgb(231 230 239);
}

label.tab {
    cursor: pointer;
    padding: 8px 20px;
    background: #4f4f69;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    font-weight: normal;
}

.panels {
    background: #fffffff6;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.radio {
    display: none;
}

.panel {
    box-sizing: content-box;
    display: none;
    -webkit-animation: fadein 0.8s;
    animation: fadein 0.8s;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel {
    display: block;
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab {
    background: white;
    color: #000;
    font-weight: bold;
}

#settings-popup {
    width: 320px;
}

#settings-popup {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 20px 5px;
}

fieldset {
    margin: 10px;
    border: 0;
    padding: 10px 20px;
    background: rgba(243, 242, 251, .6);
}

header {
    text-align: center;
    margin: 0 0 1.5rem 0;
}

header>img {
    vertical-align: middle;
}

img#icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: -38px;
    margin-right: 5px;
}

#logo {
    width: 68px;
}

h2 {
    color: #888;
    font-size: 120%;
    font-weight: 200;
    margin: 0;
}

#settings-url-list,
#extension-settings {
    overflow: hidden;
    transition: 2s;
}

.hidden {
    display: none;
}

form {
    font-family: 'Public Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

label {
    display: block;
    margin: 3px 0 0;
    font-weight: bold;
}

label.inline {
    display: inline-block;
}

span.hint {
    font-size: 82%;
    font-style: italic;
}

.hint.short {
    display: inline-block;
    margin-top: 7px;
}

input {
    display: block;
}

select {
    margin-top: 8px;
    float: right;
    height: 22px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

input[type=text],
input[type=password] {
    width: 100%;
    height: 22px;
    border: 1px solid #d6d6d6;
    background: white;
    box-sizing: border-box;
    margin: 3px 0;
}

input[type=text].invalid,
input[type=password].invalid {
    border-bottom: 1px solid red;
}

button {
    margin-top: 12px;
    width: 100%;
    height: 28px;
    color: white;
    background: #2c2c3c;
    transition: all .2s ease;
    border: 0;
    border-radius: 4px;
    cursor: hand;
}

button:hover,
button:active {
    background: #46465f;
}

input[type=text]:focus {
    border: 0;
    border-bottom: 1px solid #888;
    outline: none;
}

input[type=submit] {
    width: 54px;
    height: 18px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* Toggle css */
.toggle {
    display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle+.toggle-btn {
    box-sizing: border-box;
}

.toggle::-moz-selection,
.toggle:after::-moz-selection,
.toggle:before::-moz-selection,
.toggle *::-moz-selection,
.toggle *:after::-moz-selection,
.toggle *:before::-moz-selection,
.toggle+.toggle-btn::-moz-selection {
    background: none;
}


.toggle+.toggle-btn {
    outline: 0;
    display: block;
    width: 36px;
    height: 18px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
}

.toggle+.toggle-btn:after,
.toggle+.toggle-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
}

.toggle+.toggle-btn:before {
    display: none;
}

.toggle:checked+.toggle-btn:after {
    left: 50%;
}

.toggle-light+.toggle-btn {
    background: #888;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    margin-top: 3px;
}

.toggle-light+.toggle-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}

.toggle-light:checked+.toggle-btn {
    background: #0080ff;
}

.toggle-light:hover+.toggle-btn:hover {
    background: #0080ff;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.toggle-text {
    float: left;
    margin-bottom: 2px;
}

.whatisthat {
    font-family: arial, Arial, Helvetica, sans-serif;
    position: absolute;
    margin: -2px 0 0 -15px;
    opacity: .5;
    font-weight: normal;
    cursor: help;
}

.toggle-container {
    display: inline-block;
    width: 100%;
}

.toggle-light:checked+.toggle-btn {
    background: black;
}

.toggle-light:hover+.toggle-btn:hover {
    background: #ff3030;
}

#settings-gpcontent-maxwidth,
.percent {
    display: inline-block;
}

#settings-gpcontent-maxwidth {
    max-width: 70px;
}

.newline {
    display: block;
    margin-top: 7px;
}

.onsameline {
    margin: 1px 0 0 10px;
}
